---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileCheckIcon from "@/icons/ProfileCheck.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Leo Moncada Portfolio - Web Programmer Developer"
  description="Hire Leonardo to create your web or mobile application. Web Developer"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="home">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experience">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black-80 dark:text-white">
          <BriefcaseIcon class="size-6" />
          Work Experince
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
          <CodeIcon class="size-6" />
          Projects
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about">
        <h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
          <ProfileCheckIcon class="size-6" />
          About Me
        </h2>
        <AboutMe />
      </SectionContainer>

      <section class="w-full mx-auto lg:w-[740px]"></section>
    </div>
  </main>
</Layout>
