---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "May 2023 - May 2024",
    title: "Peer Technology Asistant - Bow Valley College",
    company: "Bow Valley College",
    description:
      " Provided technical support for IT applications, guided students in using college technology resources, and maintained records of support activities.",
      link: '#'
  },
  {
    date: "December 2021 - December 2022",
    title: "Business Solutions Analyst - Scotiabank GBS",
    description:
      "Elicited and documented requirements, acted as a liaison between business and technology teams to ensure strategic alignment, and conducted requirements elicitation and demo sessions with stakeholders.",
  },
  {
    date: "February 2020 - December 2021",
    title: "Data Governance Analyst - Banco de Bogotá",
    description:
      "Extracted key insights from data to drive decision-making, identified and reported data quality issues, managed remediation plans, defined data quality rules, and produced Power BI reports.",
  },
  {
    date: "December 2013 - January 2020",
    title: "Business Analyst - Banco de Bogotá",
    description:
      "I gathered and documented requirements and user stories, aligning them with business goals. I reduced report generation time from one week to two hours using advanced Excel techniques, improving operational efficiency. I also documented and improved processes, and provided training and support to team members.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
